body {
  margin: 0;
  font-family: 'Avenir';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Avenir';
  src: url('./fonts/Avenir/Avenir-Oblique.eot');
  src: url('./fonts/Avenir/Avenir-Oblique.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Avenir/Avenir-Oblique.woff2') format('woff2'),
      url('./fonts/Avenir/Avenir-Oblique.woff') format('woff'),
      url('./fonts/Avenir/Avenir-Oblique.svg#Avenir-Oblique') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('./fonts/Avenir/Avenir-Light.eot');
  src: url('./fonts/Avenir/Avenir-Light.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Avenir/Avenir-Light.woff2') format('woff2'),
      url('./fonts/Avenir/Avenir-Light.woff') format('woff'),
      url('./fonts/Avenir/Avenir-Light.svg#Avenir-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('./fonts/Avenir/Avenir-Black.eot');
  src: url('./fonts/Avenir/Avenir-Black.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Avenir/Avenir-Black.woff2') format('woff2'),
      url('./fonts/Avenir/Avenir-Black.woff') format('woff'),
      url('./fonts/Avenir/Avenir-Black.svg#Avenir-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('./fonts/Avenir/Avenir-Roman.eot');
  src: url('./fonts/Avenir/Avenir-Roman.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Avenir/Avenir-Roman.woff2') format('woff2'),
      url('./fonts/Avenir/Avenir-Roman.woff') format('woff'),
      url('./fonts/Avenir/Avenir-Roman.svg#Avenir-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('./fonts/Avenir/Avenir-Medium.eot');
  src: url('./fonts/Avenir/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Avenir/Avenir-Medium.woff2') format('woff2'),
      url('./fonts/Avenir/Avenir-Medium.woff') format('woff'),
      url('./fonts/Avenir/Avenir-Medium.svg#Avenir-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('./fonts/Avenir/Avenir-Heavy.eot');
  src: url('./fonts/Avenir/Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Avenir/Avenir-Heavy.woff2') format('woff2'),
      url('./fonts/Avenir/Avenir-Heavy.woff') format('woff'),
      url('./fonts/Avenir/Avenir-Heavy.svg#Avenir-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Black Oblique';
  src: url('./fonts/Avenir/Avenir-BlackOblique.eot');
  src: url('./fonts/Avenir/Avenir-BlackOblique.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Avenir/Avenir-BlackOblique.woff2') format('woff2'),
      url('./fonts/Avenir/Avenir-BlackOblique.woff') format('woff'),
      url('./fonts/Avenir/Avenir-BlackOblique.svg#Avenir-BlackOblique') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  src: url('./fonts/Avenir/Avenir-LightOblique.eot');
  src: url('./fonts/Avenir/Avenir-LightOblique.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Avenir/Avenir-LightOblique.woff2') format('woff2'),
      url('./fonts/Avenir/Avenir-LightOblique.woff') format('woff'),
      url('./fonts/Avenir/Avenir-LightOblique.svg#Avenir-LightOblique') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Book';
  src: url('./fonts/Avenir/Avenir-BookOblique.eot');
  src: url('./fonts/Avenir/Avenir-BookOblique.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Avenir/Avenir-BookOblique.woff2') format('woff2'),
      url('./fonts/Avenir/Avenir-BookOblique.woff') format('woff'),
      url('./fonts/Avenir/Avenir-BookOblique.svg#Avenir-BookOblique') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Book';
  src: url('./fonts/Avenir/Avenir-Book.eot');
  src: url('./fonts/Avenir/Avenir-Book.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Avenir/Avenir-Book.woff2') format('woff2'),
      url('./fonts/Avenir/Avenir-Book.woff') format('woff'),
      url('./fonts/Avenir/Avenir-Book.svg#Avenir-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('./fonts/Avenir/Avenir-HeavyOblique.eot');
  src: url('./fonts/Avenir/Avenir-HeavyOblique.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Avenir/Avenir-HeavyOblique.woff2') format('woff2'),
      url('./fonts/Avenir/Avenir-HeavyOblique.woff') format('woff'),
      url('./fonts/Avenir/Avenir-HeavyOblique.svg#Avenir-HeavyOblique') format('svg');
  font-weight: 900;
  font-style: italic;
}








.description {
  font-size: 12px;
    color: #343D48;
    line-height: 18px;
    max-width: 250px;
    margin: 0 auto;
}

.logo {
  border: 1px solid transparent;
  border-radius: 48px;
  background-color: #FEDEDD;
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
}

.menu {
  display: none;
  cursor: pointer;
}

.dropdown-content {
  /* display: none; */
  position: absolute;
  background-color: #fff;
  /* width: 148px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 20px;
  left: 360px;
  line-height: 21px;
  border-radius: 5px;
  padding: 10px 0;
}

.drop-dwn{
  width: 148px;
  height: 30px;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}
.drop-dwn:hover{
  background: #B05EFD;
  color: #fff;
}

.download {
  color: #000;
}

.img-dd{
  margin: 6px 17px 6px 16px;
}

.print {
  color: #000;
}

.delete {
  color: #EB5757;
}